<!DOCTYPE html>

<html>

<head>
    <title>Rishi</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/stylesheet.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This is a weather application created by Rishiban. It uses data from mapbox and weather stack.</p>
        <img width='250px' padding= '0px 16px' src='img/me.jpg'/>
    </div>
    
    {{>footer}}
</body>

</html>